body {
	font-family: Arial, Helvetica, sans-serif, serif;
	background-color: #cbcbcb;
}
.todolist {
	width: 28%;
	border-radius: 5px;
	background-color: white;
}
.todolist-header {
	padding: 10px 0 20px 30px;
}
.todolist-header p {
	font-style: italic;
}
.new-task {
	width: 72%;
	height: 20px;
}
.new-task:focus {
	border: 1px solid rgb(152, 195, 241);
}
.add-btn {
	height: 26px;
	width: 50px;
	border: 0;
	border-radius: 4px;
	color: white;
	background-color: #fc999c;
}
.add-btn:hover {
	opacity: 0.8;
}
.add-btn:focus {
	outline: none;
}
.todolist-footer {
	display: flex;
	justify-content: space-between;
	padding: 20px 19% 10px 29%;
}
.footer-btn {
	height: 26px;
	border: 1px solid white;
	font-size: 15px;
	line-height: 15px;
	color: #fc9ba5;
	background-color: white;
}
.footer-btn:hover {
	border: 1px solid rgba(190, 190, 190, 0.5);
	border-radius: 3px;
}
.footer-btn:focus {
	outline-color: rgba(190, 190, 190, 0.5);
	-moz-outline-radius: 3px;
}

.list-of-todo {
	list-style: none;
}
.list-of-todo li {
	width: 95%;
	line-height: 28px;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
.list-of-todo li:nth-child(even) {
	background: #f3ebeb;
}
.list-of-todo i {
	display: none;
	float: right;
}
.list-of-todo i:hover {
	opacity: 0.2;
}
.list-of-todo li:hover i {
	display: inline-block;
}
.task-number {
	display: inline-block;
	height: 28px;
	background-color: white;
}
